[submodule "share/joinCounts"]
	path = share/joinCounts
	url = https://github.com/Transipedia/dekupl-joinCounts.git
[submodule "share/TtestFilter"]
	path = share/TtestFilter
	url = https://github.com/Transipedia/dekupl-TtestFilter.git
[submodule "share/mergeTags"]
	path = share/mergeTags
	url = https://github.com/Transipedia/dekupl-mergeTags.git
[submodule "share/computeNF"]
	path = share/computeNF
	url = https://github.com/Transipedia/dekupl-computeNF.git
