[submodule "share/joinCounts"]
	path = share/joinCounts
	url = git@gitlab.montp.inserm.fr:transipedia-project/dekupl-joincounts.git
[submodule "share/TtestFilter"]
	path = share/TtestFilter
	url = git@gitlab.montp.inserm.fr:transipedia-project/dekupl-ttestfilter.git
[submodule "share/mergeTags"]
	path = share/mergeTags
	url = git@gitlab.montp.inserm.fr:transipedia-project/dekupl-mergetags.git
